main {
    background-color: #F9FAFB;
}
.hero{
    padding: 2rem 0 4rem 0;
}
.bolaBlur {
    position: absolute;
    width: 320px;
    height: 320px;
    left: -107px;
    bottom: 1999px;

    background: rgba(164, 222, 2, 0.1);
    filter: blur(32px);
    border-radius: 9999px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}

.tag {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.1rem 0.6rem;
    max-width: 16rem;
    color: var(--color-primary);
    background-color: #6B0F9C20;
    border: solid 1px;
    border-radius: 24px;
    border-color: var(--color-primary);
    background: rgba(107, 15, 156, 0.1);
    border: 1px solid rgba(107, 15, 156, 0.2);
    border-radius: 9999px;
}

.tag p {
    font-size: 14px;
    letter-spacing: 0.4px;
    color: var(--color-primary);
    font-weight: 600;
}

.bola {
    background-color: var(--color-secondary);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    max-width: 40%;
    padding-bottom: 1.5rem;
    padding-left: 6rem;
}

.imagem_1 {
    width: 44vw;
    border-radius: 30px;
}

.heroTitulo {
    color: var(--color-gray-900);
    font-weight: var(--weight-Extra-Bold);
    font-size: var(--font-size-xl);
    line-height: 72px;
}

.heroTitulo span {
    color: #813BBE;
}

.heroSubTitulo {
    color: #5F5E67;
    font-weight: 300;
    font-size: 24px;
    max-width: 40rem;
    line-height: 32px;
}

.professores {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3.5rem;
    padding: 0 4rem;
}

.professoresContainerTitulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.professoresTitulo {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 700;
}

.linha {
    /* Horizontal Divider */

    width: 1139px;
    height: 1px;
    background: rgba(178, 177, 186, 0.3);

    /* Auto layout por dentro */
    flex: none;
    order: 1;
    flex-grow: 1;

}

.professores_grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}