.card {
    border-radius: 1.5rem;
    height: 31rem;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* empurra o conteúdo pra baixo */
    position: relative;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(14, 14, 18, 0.9) 0%, rgba(14, 14, 18, 0.4) 50%, rgba(14, 14, 18, 0) 100%);
    border-radius: 1.5rem;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
}

.dark .content {
    color: white;
}

.light {
    background-color: white;
    background-image: none !important;
}

.light .content {
    color: #323239;
}